<link rel = 'stylesheet' href = "/css/signin.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script> scr="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">


<div>
    <h1>Sign Up</h1>
    <div id='signup'>
        <form action='/create' method='POST'>
            <input type="text" name="name" placeholder="NAME" required>
            <br><br>
            <input type="text" name="email" placeholder="Email" required>
            <br><br>
            <input type="password" name="password" placeholder="Password" required>
            <br><br>
            <input type="pasword" name="confirmpassword" placeholder="Confirm-Password" required>
            <br>
            <button type="submit">SUBMIT</button>
        </form>

    </div>

    <div style="background-color: blue;">
        <a href='users/auth/google'target="_blank">Sign Up by GOOGLE <i class="fa fa-google"></i> </a>
    </div>

    <div style="background-color: blue;">
            <a href='/signin'>Click here to Sign In</a>

    </div>
    <br>

</div>