body{
    width:100%;
    height:100%;
    margin:0;
   text-align: center;
   background-image: linear-gradient(90deg,black,#606060,black);
   color: deeppink;
      padding-top: 50px;
}

input{
    margin:10px;
    height:30px;
    width:200px;
    border-radius: 10px;
    background-color: #454545;
}